.ivu-tree ul li {
  margin: 0 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ivu-tree > ul > li {
  border: 1px solid #dcdfe6;
  & > ul {
    border-top: 1px solid #dcdfe6;
  }
}